/Materia/08-AbstractFactory/AbstractFactory4/nbproject/private/
/Materia/08-AbstractFactory/AbstractFactory4/build/
/Materia/09-Builder/Builder01/nbproject/private/
/Materia/09-Builder/Builder02/nbproject/private/
/Materia/09-Builder/Builder02/build/
/Materia/09-Builder/Builder03/nbproject/private/
/Materia/09-Builder/Builder03/build/
/Materia/09-Builder/Builder04/nbproject/private/
/Materia/09-Builder/Builder01/build/
/Materia/09-Builder/Builder04/build/
/Materia/Command1/nbproject/private/
/Materia/Command1/build/
/Materia/Command02/nbproject/private/
/Materia/Command02/build/
/Materia/Command/Command3/nbproject/private/
/Materia/Command/Command02/nbproject/private/
/Materia/10-Command/Command02/nbproject/private/
/Materia/10-Command/Command1/nbproject/private/
/Materia/10-Command/Command3/nbproject/private/
/Materia/10-Command/Command3/build/
/Materia/10-Command/Command02/build/
/Materia/Proxy/proxy1/nbproject/private/
/Materia/Proxy/Proxy2/nbproject/private/
/Materia/12-Adapter/Adapter1/nbproject/private/
/Materia/12-Adapter/Adapter1/build/
/Materia/12-Adapter/Adapter2/nbproject/private/
/Materia/12-Adapter/Adapter2/build/
/Materia/12-Adapter/Adapter3/nbproject/private/
/Materia/12-Adapter/Adapter3/build/
/Materia/12-Adapter/Adapter4/nbproject/private/
/Materia/12-Adapter/Adapter4/build/
/Materia/10-Command/Command4/nbproject/private/
/Materia/10-Command/Command2/nbproject/private/
/Materia/10-Command/Command4/build/
/Materia/13-Command/Decorator1/nbproject/private/
/Materia/13-Command/Decorator1/build/
/Materia/13-Command/Decorator2/nbproject/private/
/Materia/13-Command/Decorator2/build/
/Materia/13-Command/Decorator2/dist/
/Materia/13-Command/Decorator3/nbproject/private/
/Materia/15-Visitor/Visitor1/nbproject/private/
/Materia/15-Visitor/Visitor1/build/
/Materia/15-Visitor/Visitor3/nbproject/private/
/Materia/15-Visitor/Visitor3/build/
/Materia/16-Strategy/Strategy/nbproject/private/
/Materia/16-Strategy/Strategy02/nbproject/private/
/Materia/16-Strategy/Strategy02/build/
/Materia/16-Strategy/Strategy03/nbproject/private/
/Materia/16-Strategy/Strategy03/build/
/Materia/17-State/State1/nbproject/private/
/Materia/17-State/State1/build/
/Materia/17-State/State2/nbproject/private/
/Materia/17-State/State2/build/
/Materia/17-State/State3/nbproject/private/
/Materia/17-State/State3/build/