/Materia/08-AbstractFactory/AbstractFactory4/nbproject/private/
/Materia/08-AbstractFactory/AbstractFactory4/build/
/Materia/09-Builder/Builder01/nbproject/private/
/Materia/09-Builder/Builder02/nbproject/private/
/Materia/09-Builder/Builder02/build/
/Materia/09-Builder/Builder03/nbproject/private/
/Materia/09-Builder/Builder03/build/